.employee .plus {
    position: absolute;
    font-size: 32px;
    right: 50px;
}

.employee .select-company-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee .select-company-container .select-company {
  padding: 0 12px;
  height: 38px;
  width: 100%;
  max-width: 218px;    
  border: 2px solid #D8E2E9;
  border-radius: 20px;
  margin-left: 16px;
}

.employee .select-company-container .select-company:hover {
  cursor: pointer;
}

.employee .select-company-container .select-company:focus-visible {
  outline-offset: 0;
  outline: none;
}

.employee .sort-container {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.employee .btn-sort {
  width: 100%;
  height: 38px;
  border: 2px solid #D8E2E9;
  border-radius: 20px;
  margin: 8px;
  text-align: start;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.employee-container {
  padding: 2rem;
}

.employee-container .table {
    margin-bottom: 0;
}
  
.employee-container td {
    border: 0;
    background-color: #F7F7F7 !important;
    /* max-width: 132px; */
    padding: 12px !important;
}
  
.employee-word {
    word-break: break-word;
}
  
.employee-center {
    text-align: center;
}
  
.employee-container th {
    position: relative;
    padding: 12px !important;
  
}
  
.employee-container tbody, thead, tfoot, tr {
    border: 16px solid white;
}
  
.employee .status-icon {
    color: #339822;
    text-align: center;
    font-size: 12px;
    padding: 6px;
}

.employee .func-icon {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.employee-active {
    font-weight: 700;
    color: #339822;
}
  
.employee-disable {
    font-weight: 500;
    color: #454545;
}
  
@media screen and (max-width: 1200px) {
    .employee-container .table-container {
      padding: 0;
    }
}
  
@media screen and (max-width: 992px) {
  .employee .select-company-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
  }

  .employee .select-company { 
    max-width: 836px;
  }


  .employee .sort-container {
    display: block;
  }

  .employee-container table {
      border: 0;
      border-collapse: separate;
}
  
.employee-container table caption {
      font-size: 1.3em;
    }
    
    .employee-container table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .employee-container table tr {
      display: block;
      margin-bottom: .625em;
      padding: 1em;
    }
    
    .employee-container table td {
      display: block;
      text-align: right;
      max-width: 100%;
      padding: 6px 12px !important;
    }
    
    .employee-container table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
    
    .employee-container table td:last-child {
      border-bottom: 0;
    }
  
    .employee-container tbody, thead, tfoot, tr {
        border: none;
    }
  
    .employee-container .table-container {
      padding: 1rem;
    }
  
    .employee-center {
        text-align: right;
    }

    .employee-container .func-icon {
        justify-content: end;
      }
  }
  
@media screen and (max-width: 576px) {
  .employee-container {
    padding: .5rem;
  }

  .employee-container table tr {
      padding: 4px 8px !important;
    }
  
    .employee-container table td {
      padding: .5em;
    }
  
    .employee .plus {
      font-size: 24px;
      right: 36px;
    }

    .employee .title {
      font-size: 18px;
    }

    .select-company-container {
      justify-content: space-between;
      margin: 0 16px;
    }

    .select-company-container .select-company {
      max-width: 270px;
    }
}