.company .plus {
  position: absolute;
  font-size: 32px;
  right: 50px;
}

.company .btn-sort-container .dropdown-toggle {
  outline: 0;
}

.company .btn-sort-container .dropdown-menu {
  --bs-dropdown-min-width: none;
  width: 100%;
}

.company .btn-sort-container .dropdown-item {
  white-space: normal;
}

.company .btn-sort-container .dropdown-item:hover {
  border-radius: 0.375rem;
  background-color: #D8E2E9;
}

.company .btn-sort-container .selected-company {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 88%;
  text-align: right;
}

.company .btn-sort-container .select-dropdown {
  width: 100%;
}


.company .sort-container {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.company .btn-sort-container {
  display: flex;
  justify-content: space-around;
}

.company .btn-sort {
  width: 100%;
  height: 38px;
  border: 2px solid #D8E2E9;
  border-radius: 20px;
  text-align: start;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  min-width: 108px;
}

.company .btn-sort:hover {
  cursor: pointer;
}

.company .btn-sort:focus-visible {
  cursor: pointer;
}

.company-container {
  padding: 2rem;
}

.company-container .table {
  margin-bottom: 0;
}

.company-container td {
  border: 0;
  background-color: #F7F7F7 !important;
  max-width: 132px;
  align-items: center;
  padding: 12px !important;
}

.company-word {
  word-break: break-word;
}

.company-center {
  text-align: center;
}

.company-center span i{
  color: #6280EB;
}

.company-container th {
  position: relative;
  padding: 12px !important;

}

.company-container tbody, 
.company-container thead, 
.company-container tfoot, 
.company-container tr {
  border: 16px solid white;
}

.company .status-icon {
  text-align: center;
  align-items: center;
  font-size: 12px;
  padding: 6px;
}

.company-active {
  font-weight: 700;
  color: #339822;
}

.company-disable {
  font-weight: 600;
  color: #454545;
}

@media screen and (max-width: 1200px) {
  .company-container {
    padding: 1rem;
  }

  .company-container .table-container {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .company-container {
    padding: .5rem;
  }

  .company-container table tr {
    padding: 4px 8px !important;
  }

  .company .sort-container {
    display: block;
  }

  .company-container table {
    border: 0;
    border-collapse: separate;
  }

  .company-container table caption {
    font-size: 1.3em;
  }
  
  .company-container table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .company-container table tr {
    display: block;
    margin-bottom: .625em;
    padding: 1em;
  }
  
  .company-container table td {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 6px 12px !important;
    min-height: 36px;
  }

  .company-container table td span{
    width: 57%;
  }
  
  .company-container table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    max-width: 43%;
  }
  
  .company-container table td:last-child {
    border-bottom: 0;
  }

  .company-container tbody, thead, tfoot, tr {
      border: none;
  }

  .company-container .table-container {
    padding: 1rem;
  }

  .company-center span i{
    float: left;
  }
}

@media screen and (max-width: 576px) {
  .company-container table td {
    padding: .5em;
  }

  .company .plus {
    font-size: 24px;
    right: 36px;
  }

  .company .title {
    font-size: 18px;
  }
}