.add-hui {
    min-height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.add-hui>.modal-content {
    width: auto;
    border-radius: 40px;

}

.add-hui .modal-body {
    padding: 12px;
}

.add-hui .form-container {
    display: flex;
}

.add-hui .form-container .select-company:hover {
    cursor: pointer;
  }
  
  .add-hui .form-container .select-company:focus-visible {
    outline-offset: 0;
    outline: none;
  }
  
  .add-hui .form-container .form-control-dark {
    border-color: var(--bs-gray);
  }
  .add-hui .form-container .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .add-hui .form-container .dropdown-toggle {
    outline: 0;
  }
  
  .add-hui .form-container .dropdown-menu {
    --bs-dropdown-min-width: none;
    width: 100%;
  }
  
  .add-hui .form-container .dropdown-item {
    white-space: normal;
  }
  
  .add-hui .form-container .dropdown-item:hover {
    border-radius: 0.375rem;
    background-color: #D8E2E9;
  }

  .add-hui .form-container .select-dropdown {
    width: 100%;
  }
  
  .add-hui .form-container .selected-company {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 88%;
    text-align: right;
    /* min-width: 100px; */
  }

.add-hui .form-control {
    height: 38px;
    padding: 10px 15px;
    border: 2px solid #D8E2E9;
    border-radius: 20px;
}

.add-hui .select-company {
    padding: 0 12px;
    height: 38px;    
    border: 2px solid #D8E2E9;
    border-radius: 20px;
}

.add-hui .select-company:focus-visible {
    outline: none;
}

.add-hui .form-money {
    padding-right: 38px !important;
}

.add-hui .money {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #D8E2E9;
    margin-left: -1px;
    border: 2px solid #D8E2E9;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 34px;
}

.add-hui .form-check {
    border: 1px solid #D8E2E9;
    border-radius: 20px;
    margin: 16px 16px 0 16px;
    padding-right: 1.5em;
    padding-bottom: 1rem;
    height: 658px;
    min-width: 383px;
    /* overflow-y: scroll; */
}

.add-hui .form-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #454545;
    border-radius: 2px;
    margin-right: 12px;
}

.add-hui .label {
    height: 20px;
    min-width: 160px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #454545;
    display: flex;
    text-align: start;
}

.add-hui .labelHui {
  height: 20px;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  color: #454545;
  display: flex;
  text-align: start;
}

.add-hui .toggle-password {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #D8E2E9;
    margin-left: -1px;
    border: 2px solid #D8E2E9;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 36px;
    opacity: 0.8;
}

.add-hui .toggle-password:hover {
  cursor: pointer;
  opacity: 1;
}

.add-hui .form-check .form-control {
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    .add-hui .form-container {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .add-hui .form-control,
    .add-hui .select-company {
        width: 100%;
        max-width: 240px;
    }

    .add-hui .form-container .select-dropdown {
        width: 100%;
        max-width: 240px;
        justify-content: end;
    }
}