.sidebar {
  display: flex;
  top: 65px;
  position: fixed;
  left: 0;
  height: 100%;
}

aside.ant-layout-sider.ant-layout-sider-dark {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none;
}

.ant-menu-light, 
.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: none;
}

.ant-menu {
  font-size: 16px;
}

.ant-menu-light.ant-menu-inline .ant-menu-item {
  margin: 16px 8px;
  width: auto;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item {
  margin: 0;
  margin-left: 64px;
  padding-left: 16px !important;
  border-left: 2px solid #999;
  border-radius: 0;
}

.ant-menu-inline .ant-menu-submenu-title {
  margin-block: 16px 0;
  margin-inline: 8px;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: rgba(148, 145, 145, 0.2) !important;
  color: #454545 !important;
  font-weight: 700;
}

.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title {
  color: #454545 !important;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none !important;
  }
}