.sidebar {
  display: flex;
  top: 65px;
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 1;
}

.sibar-container {
  width: 250px;
}

.nav-item {
  padding: 8px 0;
}

.active {
  background-color: rgba(148, 145, 145, 0.2) !important;
  color: #454545 !important;
  font-weight: 700;
}

.subActive {
  background-color: none !important;
  color: #454545 !important;
  font-weight: 700;
}

.nav-user {
  cursor: pointer;
}

.link-color {
  color: rgba(33, 37, 41, .75);
}

.link-color:hover {
  color: rgba(33, 37, 41, .75);
  border-radius: 0.375rem;
  background-color: #D8E2E9;
}

@media screen and (max-width: 1200px) {
  .sibar-container {
    width: 230px;
  }
  
  .nav-item {
    width: 200px;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none !important;
  }
}