.hui-point .plus {
    position: absolute;
    font-size: 32px;
    right: 50px;
}

.hui-point .select-company-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hui-point .select-company-container .label {
  margin-right: 16px;
}

.hui-point .select-company-container .select-company {
  padding: 0 12px;
  height: 38px;
  width: 100%;
  max-width: 218px;    
  border: 2px solid #D8E2E9;
  border-radius: 20px;
}

.hui-point .select-company-container .select-company:hover {
  cursor: pointer;
}

.hui-point .select-company-container .select-company:focus-visible {
  outline-offset: 0;
  outline: none;
}

.hui-point .select-company-container .select-company:hover {
  cursor: pointer;
}

.hui-point .select-company-container .select-company:focus-visible {
  outline-offset: 0;
  outline: none;
}

.hui-point .select-company-container .form-control-dark {
  border-color: var(--bs-gray);
}
.hui-point .select-company-container .form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.hui-point .dropdown-toggle {
  outline: 0;
}

.hui-point .dropdown-menu {
  --bs-dropdown-min-width: none;
  width: 100%;
}

.hui-point .dropdown-item {
  white-space: normal;
}

.hui-point .dropdown-item:hover {
  border-radius: 0.375rem;
  background-color: #D8E2E9;
}

.hui-point .selected-company {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 88%;
  text-align: right;
}

.hui-point .select-dropdown {
  width: 100%;
}

.hui-point .sort-container {
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.hui-point .btn-sort-container {
  display: flex;
  justify-content: space-around;
}

.hui-point .btn-sort {
  width: 100%;
  height: 38px;
  border: 2px solid #D8E2E9;
  border-radius: 20px;
  text-align: start;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  min-width: 108px;
}

.hui-point .btn-sort:hover {
  cursor: pointer;
}

.hui-point .btn-sort:focus-visible {
  cursor: pointer;
}

.hui-point-container {
  padding: 2rem;
}

.hui-point-container .table {
    margin-bottom: 0;
}
  
.hui-point-container td {
    border: 0;
    background-color: #F7F7F7 !important;
    /* max-width: 132px; */
    padding: 12px !important;
}
  
.hui-point-word {
    word-break: break-word;
}
  
.hui-point-center {
    text-align: center;
}

.hui-point-center span i{
  color: #6280EB;
}
  
.hui-point-container th {
    position: relative;
    padding: 12px !important;
  
}
  
.hui-point-container tbody, thead, tfoot, tr {
    border: 16px solid white;
}
  
.hui-point .status-icon {
    text-align: center;
    align-items: center;
    font-size: 12px;
    padding: 6px;
}

.hui-point .func-icon {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.hui-point-active {
    font-weight: 700;
    color: #339822;
}
  
.hui-point-disable {
    font-weight: 600;
    color: #454545;
}

.detail:hover {
  cursor: pointer;
}

.hui-point .form-confirm {
  height: 38px;
  max-width: 140px;
  padding: 10px 15px;
  border: 2px solid #D8E2E9;
  border-radius: 20px;
}
  
@media screen and (max-width: 1200px) {
    .hui-point-container {
      padding: 1rem;
    }

    .hui-point-container .table-container {
      padding: 0;
    }

    .hui-point .func-icon {
      display: block;
    }
}
  
@media screen and (max-width: 768px) {
  .hui-point-container {
    padding: .5rem;
  }

  .hui-point-container table tr {
    padding: 4px 8px !important;
  }

  .hui-point .func-icon {
    display: flex;
  }

  .hui-point .select-company { 
    max-width: 836px;
  }


  /* .hui-point .sort-container {
    display: block;
  } */

  .hui-point-container table {
      border: 0;
      border-collapse: separate;
}
  
.hui-point-container table caption {
      font-size: 1.3em;
    }
    
    .hui-point-container table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .hui-point-container table tr {
      display: block;
      margin-bottom: .625em;
      padding: 1em;
    }
    
    .hui-point-container table td {
      display: block;
      text-align: right;
      max-width: 100%;
      padding: 6px 12px !important;
      min-height: 36px;
    }
    
    .hui-point-container table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
    
    .hui-point-container table td:last-child {
      border-bottom: 0;
    }
  
    .hui-point-container tbody, thead, tfoot, tr {
        border: none;
    }
  
    .hui-point-container .table-container {
      padding: 1rem;
    }
  
    .hui-point-center {
        text-align: right;
    }

    .hui-point-container .func-icon {
        justify-content: end;
      }
  }
  
@media screen and (max-width: 576px) {
    .hui-point-container table td {
      padding: .5em;
    }
  
    .hui-point .plus {
      font-size: 24px;
      right: 36px;
    }

    .hui-point .title {
      font-size: 18px;
    }

    .select-company-container .select-company {
      max-width: 270px;
    }
}