html, body, #root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
.body-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  left: 0;
}

.main-container {
  position: absolute;
  left: 250px;
  top: 65px;
  right: 0;
}

.content {
  margin: 24px;
  border-radius: 40px;
}

.title {
  font-weight: 400;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.btn:active,
.btn:focus-visible {
  border-color: #B3CAD6 !important;
  background-color: #B3CAD6 !important;
}

.btn-cancle {
  background: #DBC898;
}
.btn-cancle:hover {
  background: #d1b776;
}

.btn-continue {
  background: #B3CAD6;
}
.btn-continue:hover {
  background: #74afcf;
}

.btn-control:hover {
  border: 1px solid #D8E2E9;
  background: #D8E2E9;
}

.btn-control:active {
  border: 1px solid #D8E2E9 !important;
}

.btn-control:focus-visible {
  border: 1px solid #D8E2E9 !important;
}

.input-page {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

.input-page:focus-visible {
  outline: none;
}

.nav-sub-item {
  border-left: 2px solid #999;
  list-style: none;
}

.selected-dropdown {
  max-height: 402px;
  overflow-y: scroll;
}

.modal-logout .modal-content {
  border-radius: 40px;
}

.modal-menu .modal-content {
  border-radius: 0;
  border: none;
  height: 100%;
}

.modal-menu .modal-body {
  padding: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  padding: 16px;
}

i:hover {
  opacity: 0.8;
  cursor: pointer;
}

.table tbody {
  user-select: text;
}

.spinner-loading {
  border-bottom-width: 3px !important;
}
.text-loading {
  font-weight: 500;
  opacity: 0.7;
}


.loading-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  min-height: 70vh;
}

.loading-container div{
  margin: auto;
  font-size: 25px;
}

.loading-container img {
  margin-bottom: 34px;
}

.loading-container p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .main-container {
    left: 206px;
  }
}

@media screen and (max-width: 992px) {
  .main-container {
    left: 0;
  }
}